In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB 660.6 kB/s eta 0:00:18
   ---------------------------------------- 0.1/11.5 MB 1.4 MB/s eta 0:00:08
    --------------------------------------- 0.2/11.5 MB 1.7 MB/s eta 0:00:07
   - -------------------------------------- 0.4/11.5 MB 2.2 MB/s eta 0:00:05
   -- ------------------------------------- 0.8/11.5 MB 3.5 MB/s eta 0:00:04
   --- ------------------------------------ 1.1/11.5 MB 4.3 MB/s eta 0:00:03
   ----- ---------------------------------- 1.5/11.5 MB 5.2 MB/s eta 0:00:02
   ------- -------------------------------- 2.2/11.5 MB 6.1 MB/s eta 0:00:02
   ---------- ----------------------------- 2.9/11.5 MB 7.5 MB/s eta 0:00:02
   ------------ --------------------------- 3.6/11.5 MB 8.2 MB/s eta 0:00:01
   --------------- ------------------------ 4.3/11.5 MB 8.9 MB/s eta 0:00:01
   ----------------- ---------------------- 4.9/11.5 MB 9.2 MB/s eta 0:00:01
   -------------------- ------------------- 5.8/11.5 MB 10.1 MB/s eta 0:00:01
   ----------------------- ---------------- 6.7/11.5 MB 10.7 MB/s eta 0:00:01
   ------------------------- -------------- 7.2/11.5 MB 10.7 MB/s eta 0:00:01
   ---------------------------- ----------- 8.2/11.5 MB 11.4 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.5 MB 11.6 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.5 MB 12.1 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.5 MB 13.1 MB/s eta 0:00:01
   ---------------------------------------  11.2/11.5 MB 15.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 16.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 14.9 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 10.5 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 10.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.9.0-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.53.0-cp312-cp312-win_amd64.whl.metadata (165 kB)
     ---------------------------------------- 0.0/165.5 kB ? eta -:--:--
     -- ------------------------------------- 10.2/165.5 kB ? eta -:--:--
     --------- --------------------------- 41.0/165.5 kB 495.5 kB/s eta 0:00:01
     -------------------- ---------------- 92.2/165.5 kB 751.6 kB/s eta 0:00:01
     -----------------------------------  163.8/165.5 kB 984.6 kB/s eta 0:00:01
     ------------------------------------ 165.5/165.5 kB 902.6 kB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (24.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.3.0-cp312-cp312-win_amd64.whl.metadata (9.4 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.0-cp312-cp312-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
    --------------------------------------- 0.2/8.0 MB 12.3 MB/s eta 0:00:01
   -- ------------------------------------- 0.4/8.0 MB 5.0 MB/s eta 0:00:02
   -- ------------------------------------- 0.6/8.0 MB 6.3 MB/s eta 0:00:02
   ---- ----------------------------------- 0.9/8.0 MB 5.6 MB/s eta 0:00:02
   ------ --------------------------------- 1.2/8.0 MB 5.4 MB/s eta 0:00:02
   ------- -------------------------------- 1.6/8.0 MB 6.3 MB/s eta 0:00:02
   --------- ------------------------------ 1.9/8.0 MB 6.4 MB/s eta 0:00:01
   ----------- ---------------------------- 2.3/8.0 MB 6.7 MB/s eta 0:00:01
   ------------- -------------------------- 2.7/8.0 MB 6.6 MB/s eta 0:00:01
   --------------- ------------------------ 3.1/8.0 MB 7.1 MB/s eta 0:00:01
   ----------------- ---------------------- 3.5/8.0 MB 6.9 MB/s eta 0:00:01
   ------------------- -------------------- 3.9/8.0 MB 7.2 MB/s eta 0:00:01
   --------------------- ------------------ 4.4/8.0 MB 7.5 MB/s eta 0:00:01
   ----------------------- ---------------- 4.7/8.0 MB 7.4 MB/s eta 0:00:01
   ------------------------- -------------- 5.1/8.0 MB 7.6 MB/s eta 0:00:01
   ---------------------------- ----------- 5.6/8.0 MB 7.6 MB/s eta 0:00:01
   ----------------------------- ---------- 5.8/8.0 MB 7.5 MB/s eta 0:00:01
   -------------------------------- ------- 6.5/8.0 MB 7.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/8.0 MB 7.8 MB/s eta 0:00:01
   ------------------------------------ --- 7.3/8.0 MB 8.0 MB/s eta 0:00:01
   ---------------------------------------  7.8/8.0 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------  8.0/8.0 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 7.7 MB/s eta 0:00:00
Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl (189 kB)
   ---------------------------------------- 0.0/189.9 kB ? eta -:--:--
   --------------------------------------- 189.9/189.9 kB 12.0 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.53.0-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   -------- ------------------------------- 0.5/2.2 MB 15.5 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.2 MB 17.0 MB/s eta 0:00:01
   -------------------------- ------------- 1.5/2.2 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.2 MB 12.4 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 10.0 MB/s eta 0:00:00
Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl (56 kB)
   ---------------------------------------- 0.0/56.0 kB ? eta -:--:--
   ---------------------------------------- 56.0/56.0 kB 2.9 MB/s eta 0:00:00
Downloading pillow-10.3.0-cp312-cp312-win_amd64.whl (2.5 MB)
   ---------------------------------------- 0.0/2.5 MB ? eta -:--:--
   -------------- ------------------------- 0.9/2.5 MB 28.8 MB/s eta 0:00:01
   ------------------- -------------------- 1.3/2.5 MB 16.0 MB/s eta 0:00:01
   ---------------------------- ----------- 1.8/2.5 MB 14.2 MB/s eta 0:00:01
   ---------------------------------------  2.5/2.5 MB 14.4 MB/s eta 0:00:01
   ---------------------------------------  2.5/2.5 MB 13.4 MB/s eta 0:00:01
   ---------------------------------------- 2.5/2.5 MB 10.7 MB/s eta 0:00:00
Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
   ---------------------------------------- 0.0/103.2 kB ? eta -:--:--
   ---------------------------------------- 103.2/103.2 kB 5.8 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.53.0 kiwisolver-1.4.5 matplotlib-3.9.0 pillow-10.3.0 pyparsing-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install os

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os

In [5]:
import numpy as np

In [6]:
import os

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [4]:
credits = pd.read_csv('Data/tmdb_5000_credits.csv')
movies = pd.read_csv('Data/tmdb_5000_movies.csv')

In [5]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [6]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [7]:
movies.shape

(4803, 20)

In [8]:
credits.shape

(4803, 4)

In [9]:
movies=movies.merge(credits, on = 'title')

In [10]:
movies.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
movies.shape

(4809, 23)

In [12]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [13]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [14]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [15]:
movies.shape

(4809, 7)

In [16]:

movies.isnull().sum() #finding null values

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [17]:
movies.dropna(inplace=True) #deleting the null values

In [18]:
movies.shape

(4806, 7)

In [19]:
movies.duplicated().sum()

0

In [20]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [21]:
movies.iloc[0]['genres']#it is in string format , and having curly brackets. i don't want that

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [22]:
import ast

In [23]:
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [24]:
import  ast
def convert(text):
    l = []
    for i in ast.literal_eval(text):
        l.append(i['name'])
    return l                          #writting a fun. that can fix pervious issue

In [25]:
movies['genres']=movies['genres'].apply(convert)

In [26]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [27]:
movies['keywords']=movies['keywords'].apply(convert)

In [28]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [29]:
import  ast
def convert_cast(text):
    l = []
    counter = 0
    for i in ast.literal_eval(text):   #function for cast 
        if counter < 3:
            l.append(i['name'])
        counter+=1            
    return l

In [30]:
movies['cast']=movies['cast'].apply(convert_cast)

In [31]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [32]:
import  ast
def fetch_director(text):
    l = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':      #function for selecting director inside crew
            
            l.append(i['name'])
            break
    return l

In [33]:
movies['crew']=movies['crew'].apply(fetch_director)

In [34]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [35]:
movies.iloc[0]['overview']

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [36]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())    #it will help to separate

In [37]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [38]:
#i want no spae
#Sam Worthington
#SamWorthington
def remove_space(word):
    l = []
    for i in word:
        l.append(i.replace(" ",""))
    return l

In [39]:
movies['crew']=movies['crew'].apply(remove_space)
movies['cast']=movies['cast'].apply(remove_space)
movies['genres']=movies['genres'].apply(remove_space)
movies['keywords']=movies['keywords'].apply(remove_space)

In [40]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]

In [41]:
movies['tags'] = movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [42]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."

In [43]:
movies.iloc[0]['tags']

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [44]:
new_df = movies[['movie_id','title','tags']]

In [45]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."

In [46]:
new_df.head(2)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [47]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\anik1\AppData\Local\Temp\ipykernel_6916\1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [48]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [49]:
new_df.iloc[0]['tags']

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [50]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\anik1\AppData\Local\Temp\ipykernel_6916\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [51]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [52]:
new_df.shape

(4806, 3)

In [54]:
pip install nltk

Requirement already satisfied: nltk in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.5.15)
Requirement already satisfied: tqdm in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.4)
Requirement already satisfied: colorama in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [59]:
import nltk

In [60]:
from nltk.stem import PorterStemmer

In [61]:
ps = PorterStemmer()

In [62]:
def stems(text):
    l =[]
    for i in text.split():
        l.append(ps.stem(i))

    return " ".join(l)

In [63]:
new_df['tags'] = new_df['tags'].apply(stems)

C:\Users\anik1\AppData\Local\Temp\ipykernel_6916\3973021881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [64]:
new_df.iloc[0]['tags']

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [68]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.0-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.13.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.6 kB ? eta -:--:--
     ---------------------------------------- 0.0/60.6 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.6 kB ? eta -:--:--
     -------------------------------- ----- 51.2/60.6 kB 440.4 kB/s eta 0:00:01
     -------------------------------------- 60.6/60.6 kB 402.7 kB/s eta 0:00:00
Requirement already satisfied: joblib>=1.2.0 in c:\users\anik1\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.0-cp312-cp312-win_amd64.whl (10.9 MB)
   ---------------------------------------- 0.0/10.9 MB ? eta -:--:--
   ---------------------------------------- 0.1/10.9 MB 3.2 MB/s eta 0:00:04
    --------------------------------------- 0.2/10.9 MB 2.4 MB/s eta 0:00:05
    --------------------------------------- 0.2/10.9 MB 1.8 MB/s eta 0:00:07
   - -------------------------------------- 0.4/10.9 MB 2.4 MB/s eta 0:00:05
   -- ------------------------------------- 0.7/10.9 MB 3.0 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/10.9 MB 3.7 MB/s eta 0:00:03
   ------ --------------------------------- 1.7/10.9 MB 5.5 MB/s eta 0:00:02
   ---------- ----------------------------- 2.8/10.9 MB 7.3 MB/s eta 0:00:02
   ------------ --------------------------- 3.4/10.9 MB 8.0 MB/s eta 0:00:01
   --------------- ------------------------ 4.1/10.9 MB 9.1 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/10.9 MB 10.1 MB/s eta 0:00:01
   --------------------- ------------------ 5.9/10.9 MB 10.8 MB/s eta 0:00:01
   ------------------------ --------------- 6.7/10.9 MB 11.0 MB/s eta 0:00:01
   ------------------------------ --------- 8.3/10.9 MB 12.7 MB/s eta 0:00:01
   -------------------------------- ------- 8.8/10.9 MB 12.6 MB/s eta 0:00:01
   ---------------------------------- ----- 9.5/10.9 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------  10.7/10.9 MB 17.7 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 18.2 MB/s eta 0:00:01
   ---------------------------------------- 10.9/10.9 MB 16.0 MB/s eta 0:00:00
Downloading scipy-1.13.1-cp312-cp312-win_amd64.whl (45.9 MB)
   ---------------------------------------- 0.0/45.9 MB ? eta -:--:--
   - -------------------------------------- 1.4/45.9 MB 29.2 MB/s eta 0:00:02
   - -------------------------------------- 2.3/45.9 MB 24.1 MB/s eta 0:00:02
   --- ------------------------------------ 3.6/45.9 MB 25.3 MB/s eta 0:00:02
   --- ------------------------------------ 4.3/45.9 MB 24.9 MB/s eta 0:00:02
   ---- ----------------------------------- 5.4/45.9 MB 22.7 MB/s eta 0:00:02
   ----- ---------------------------------- 6.5/45.9 MB 22.9 MB/s eta 0:00:02
   ------ --------------------------------- 7.3/45.9 MB 22.1 MB/s eta 0:00:02
   ------- -------------------------------- 8.9/45.9 MB 23.7 MB/s eta 0:00:02
   -------- ------------------------------- 9.7/45.9 MB 23.0 MB/s eta 0:00:02
   --------- ------------------------------ 10.9/45.9 MB 23.4 MB/s eta 0:00:02
   ---------- ----------------------------- 12.1/45.9 MB 23.4 MB/s eta 0:00:02
   ----------- ---------------------------- 13.0/45.9 MB 22.6 MB/s eta 0:00:02
   ------------ --------------------------- 14.8/45.9 MB 25.2 MB/s eta 0:00:02
   ------------- -------------------------- 15.7/45.9 MB 25.2 MB/s eta 0:00:02
   -------------- ------------------------- 16.4/45.9 MB 22.6 MB/s eta 0:00:02
   --------------- ------------------------ 18.2/45.9 MB 25.2 MB/s eta 0:00:02
   ---------------- ----------------------- 19.4/45.9 MB 24.2 MB/s eta 0:00:02
   ----------------- ---------------------- 20.5/45.9 MB 26.2 MB/s eta 0:00:01
   ------------------- -------------------- 22.3/45.9 MB 26.2 MB/s eta 0:00:01
   -------------------- ------------------- 23.3/45.9 MB 27.3 MB/s eta 0:00:01
   --------------------- ------------------ 25.0/45.9 MB 26.2 MB/s eta 0:00:01
   ---------------------- ----------------- 25.4/45.9 MB 27.3 MB/s eta 0:00:01
   ----------------------- ---------------- 26.5/45.9 MB 26.2 MB/s eta 0:00:01
   ------------------------ --------------- 28.5/45.9 MB 27.3 MB/s eta 0:00:01
   ------------------------- -------------- 29.6/45.9 MB 26.2 MB/s eta 0:00:01
   --------------------------- ------------ 31.2/45.9 MB 26.2 MB/s eta 0:00:01
   ---------------------------- ----------- 32.5/45.9 MB 25.2 MB/s eta 0:00:01
   ----------------------------- ---------- 33.6/45.9 MB 26.2 MB/s eta 0:00:01
   ------------------------------ --------- 34.6/45.9 MB 26.2 MB/s eta 0:00:01
   ------------------------------ --------- 35.4/45.9 MB 23.4 MB/s eta 0:00:01
   -------------------------------- ------- 37.4/45.9 MB 26.2 MB/s eta 0:00:01
   ---------------------------------- ----- 39.1/45.9 MB 27.3 MB/s eta 0:00:01
   ----------------------------------- ---- 40.8/45.9 MB 28.5 MB/s eta 0:00:01
   ------------------------------------ --- 41.9/45.9 MB 27.3 MB/s eta 0:00:01
   -------------------------------------- - 43.8/45.9 MB 29.7 MB/s eta 0:00:01
   ---------------------------------------  45.6/45.9 MB 34.4 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------- 45.9/45.9 MB 19.8 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, scikit-learn
Successfully installed scikit-learn-1.5.0 scipy-1.13.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [70]:
import sklearn

In [71]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words= 'english')

In [72]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [73]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [74]:
vector.shape

(4806, 5000)

In [76]:
from sklearn.metrics.pairwise import cosine_similarity

In [77]:
similarity = cosine_similarity(vector)

In [78]:
similarity

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [79]:
similarity.shape

(4806, 4806)

In [81]:
new_df[new_df['title']=='Spider-Man'].index[0]

159

In [86]:
def recommend(movie):
    index = new_df[new_df['title']==movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key=lambda x: x[1]) #checks similarity bewtween movies
    for i in distances[1:6]: # suggest top 5 movies
        print(new_df.iloc[i[0]].title)

In [87]:
recommend('Spider-Man')

Spider-Man 3
Spider-Man 2
The Amazing Spider-Man 2
Arachnophobia
Kick-Ass

In [92]:
recommend('Harry Potter and the Goblet of Fire')

Harry Potter and the Order of the Phoenix
Harry Potter and the Chamber of Secrets
Harry Potter and the Philosopher's Stone
Harry Potter and the Prisoner of Azkaban
Harry Potter and the Half-Blood Prince

In [95]:
import pickle

pickle.dump(new_df, open('artificats/movie_list.pkl', 'wb'))
pickle.dump(similarity, open('artificats/msimilarity.pkl', 'wb'))